/* Desktop First*/
/* Desktop 992px até o infinito */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

/*         BrealPoints  (Ponto de quebra do layout)    */
/* tablet 992px (768px até 991px)*/
@media screen and (max-width: 991px){
    h1{

        color: green;
    }
    .icone{
        display: none;
    }
    
}

/* smartphones 771 (0px até 767px)*/
@media screen and (max-width: 767px){
    h1{
        color: blue;
        background-color: pink;
        
    }
    .icone{
        display: unset;
    }
}
